{% extends 'UsersManagementBundle::layout.html.twig' %}
{% block body %}
    <div class="page-header" style = "width: 400px">
        <h1>Change Password</h1>
    </div>

    {{ form_start(form) }}
    	<div style = "width: 300px; margin-left: 30px">
    		<div class="form-group{% if form_errors(form.curPassword) %} has-error{% else %} has-success{% endif %} has-feedback" style = "width: 337px">
	          {% if form_errors(form.curPassword) %}
	            <h4><span class = "label label-danger"> - Password inputted is invalid. Please make sure that it's your current password.</span></h4>
	          {% endif %}
	        </div>

	        <div class="form-group{% if form_errors(form.password.NewPassword) %} has-error{% else %} has-success{% endif %} has-feedback" style = "width: 337px">
	          {% if form_errors(form.password.NewPassword) %}
	            <h4><span class = "label label-danger"> - New Password inputted is invalid. Please make sure that they match or at least 6 characters.</span></h4>
	          {% endif %}
	        </div>

			{% for flashMessage in app.session.flashbag.get('alert-success') %}
				<div class="alert alert-success" role="alert">
					{{ flashMessage }}
				</div> 
			{% endfor %}
			{% for flashMessage in app.session.flashbag.get('alert-danger') %}
				<div class="alert alert-danger" role="alert">
					{{ flashMessage }}
				</div> 
			{% endfor %}

			{{ form_label(form.curPassword) }} 
		    {{ form_widget(form.curPassword) }}
		    {{ form_label(form.password.NewPassword) }} 
		    {{ form_widget(form.password.NewPassword, { 'attr': {'class': 'form-control'} }) }}
		    {{ form_label(form.password.ConfirmPassword) }} 
		    {{ form_widget(form.password.ConfirmPassword, { 'attr': {'class': 'form-control'} }) }}

		    <div style = "margin-top: 4px; width: 300px;">
		        <button type = "submit" class = "btn btn-lg btn-primary btn-block">Change Password</button>
		    </div>
		</div>
	{{ form_end(form) }}
	<p class="space">
	    <a href="{{ path('dashboard') }}"><span class="back">&laquo; Back to dashboard</span></a>
	</p>

{% endblock %}