{% extends 'UsersManagementBundle::layout.html.twig' %}
{% block body %}
    <div class="page-header" style = "width: 400px">
        <h1>Edit Account</h1>
    </div>

    {{ form_start(form) }}
    	<div style = "width: 300px; margin-left: 30px">

			{% for flashMessage in app.session.flashbag.get('alert-success') %}
				<div class="alert alert-success" role="alert">
					{{ flashMessage }}
				</div> 
			{% endfor %}
			
			{{ form_label(form.password) }} 
		    {{ form_widget(form.password) }}
		    {{ form_label(form.newPassword.NewPassword) }} 
		    {{ form_widget(form.newPassword.NewPassword) }}
		    {{ form_label(form.newPassword.ConfirmPassword) }} 
		    {{ form_widget(form.newPassword.ConfirmPassword) }}

		    <div style = "margin-top: 4px; width: 300px;">
		        {{ form_widget(form.save) }}
		    </div>
		</div>
	{{ form_end(form) }}
	<p class="space">
	    <a href="{{ path('dashboard') }}"><span class="back">&laquo; Back to dashboard</span></a>
	</p>

{% endblock %}