{% extends 'UsersManagementBundle::layout.html.twig' %}
{% block body %}

    {{ form_start(form) }}
        <div class="page-header" style = "width: 400px">
            <h1>Change Password</h1>
        </div>
        <div class="form-group{% if form_errors(form.email) %} has-error{% else %} has-success{% endif %} has-feedback" style = "width: 337px">
          {% if form_errors(form.email) %}
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
          {% endif %}
        </div>

        <div style = "width: 300px; margin-left: 30px">
            {{ form_label(form.email) }} 
            {{ form_widget(form.email) }}
            <div style = "margin-top: 4px; width: 300px;">
                {{ form_widget(form.save) }}
            </div>
        </div>
        
    {{ form_end(form) }}

{% endblock %}