{% extends 'UsersManagementBundle::layout.html.twig' %}
{% block title %}Forgot Password{% endblock %}
{% block body %}

    {{ form_start(form) }}
        <div class="page-header" style = "width: 400px">
            <h1>Forgot Password</h1>
        </div>
        {% if form_errors(form.email) %}
            <div class="form-group{% if form_errors(form.email) %} has-error{% else %} has-success{% endif %} has-feedback">
                <span class="alert alert-danger" style = "margin-left: 30px">The email address provided is not valid.</span>
            </div>
        {% endif %}

        <div style = "width: 300px; margin-left: 30px">

            {% for flashMessage in app.session.flashbag.get('alert-danger') %}
                <div class="alert alert-success" role="alert">
                    {{ flashMessage }}
                </div> 
            {% endfor %}

            {{ form_label(form.email) }} 
            {{ form_widget(form.email) }}
            <div style = "margin-top: 4px; width: 300px;">
                <button type = "submit" class = "btn btn-lg btn-primary btn-block">Forgot Password</button>
            </div>
        </div>
        
    {{ form_end(form) }}

    <p class="space">
        <a href="{{ path('user_login') }}"><span class="back">&laquo; Back to login page</span></a>
    </p>

{% endblock %}